*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #f8e6c6;
}
.main_box{
    width: 100%;
}


.mega{
    margin-left: 30rem;
}
@media screen and (min-width: 270px) and (max-width: 689px) {
   .mega{margin-left: 0px;}
}